name: release

permissions:
    contents: write

on:
    push:
    pull_request:

env:
    CRATE_NAME: staticfs
    GITHUB_TOKEN: ${{ github.token }}
    RUST_BACKTRACE: 1

jobs:
    release:
        name: Release - ${{ matrix.platform.os-name }}
        strategy:
            fail-fast: false
            matrix:
                platform:
                    - os-name: Linux-x86_64
                      runs-on: ubuntu-latest
                      target: x86_64-unknown-linux-musl
                    - os-name: Linux-aarch64
                      runs-on: ubuntu-latest
                      target: aarch64-unknown-linux-musl
                    - os-name: Linux-riscv64
                      runs-on: ubuntu-latest
                      target: riscv64gc-unknown-linux-gnu

                    - os-name: Windows-x86_64
                      runs-on: windows-latest
                      target: x86_64-pc-windows-msvc
                    - os-name: Windows-aarch64
                      runs-on: windows-latest
                      target: aarch64-pc-windows-msvc

                    - os-name: macOS-x86_64
                      runs-on: macos-latest
                      target: x86_64-apple-darwin
                    - os-name: macOS-aarch64
                      runs-on: macos-latest
                      target: aarch64-apple-darwin
        runs-on: ${{ matrix.platform.runs-on }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build
              uses: houseabsolute/actions-rust-cross@v1
              with:
                  command: build
                  target: ${{ matrix.platform.target }}
                  args: "--locked --release"
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Wait
              shell: bash
              run: sleep $((RANDOM % 20 + 3))
            - name: Release
              id: release1
              uses: houseabsolute/actions-rust-release@v0
              with:
                  executable-name: staticfs
                  target: ${{ matrix.platform.target }}
                  extra-files: |-
                      README.md
                  _force-release-for-testing: true
                  action-gh-release-parameters: |
                      {
                          "repository": "NaeCqde/staticfs",
                          "token": "${{ secrets.GITHUB_TOKEN }}"
                      }
            - name: Wait
              if: failure()
              shell: bash
              run: sleep $((RANDOM % 20 + 5))
            - name: Release
              if: failure()
              id: release2
              uses: houseabsolute/actions-rust-release@v0
              with:
                  executable-name: staticfs
                  target: ${{ matrix.platform.target }}
                  extra-files: |-
                      README.md
                  _force-release-for-testing: true
                  action-gh-release-parameters: |
                      {
                          "repository": "NaeCqde/staticfs",
                          "token": "${{ secrets.GITHUB_TOKEN }}"
                      }
